body {
    color: rgb(58, 34, 34);
    letter-spacing: 0.5px;
    font-size: 1rem;  /* Using relative units */
    background-attachment: fixed;
    background-color: whitesmoke;
    font-family: monospace;
    cursor: url('images/lolipop.png'), auto;
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: Strawberry;
    src: url('fonts/Strawberry\ Muffins\ Demo.woff2');
}

@font-face {
    font-family: Rider;
    src: url('fonts/Texas\ Rider.woff2');
}

@font-face {
    font-family: Bubblegum;
    src: url('fonts/bubblegum.woff2');
}


 .fixedwidth  {
  max-width: 100%;
  height: auto;
  
}
.justify{
    font-size: 16px;
    text-align: justify;
    text-justify: inter-word;
}
.centerimg {
  display: block;
  margin-left: auto;
  margin-right: auto;
  
}
p{
    line-height: 22px;
    margin-bottom: 0px;
}
#header{
    text-align: center;
    margin: 0 auto;
    width:600px;
    font-family: Bubblegum;
    font-size: 70px;
    margin-bottom: -20px;
    padding:5px;
    letter-spacing: 4px;
    color: rgba(218, 21, 113, 0.658);
}

.htext:hover{
}
.topnav{
        margin:30px auto;
        width:580px;
        margin-bottom: 0px;
        overflow: hidden;
        text-align: center;
        height:35px;
        font-family: Strawberry;
        text-transform: uppercase;
        letter-spacing: 2px;
}
.topnav a:hover{
    margin-top: 0px;
}
.topnav a.active{
    background-color: #FF93CF;
    color:white ;
    margin-top: 0px;
    }
.topnav a{
  text-align: center;
  background-color: #FF69B4;
  float: right;
  color: white;
  max-width: 85px;
  margin-right: 10px;
  text-decoration: none;
  font-size: 14px;
  border-style: none;
  padding-left:10px;
  padding-right:10px;
  padding-top: 8px;
  padding-bottom: 8px;
  height: 50px;
  margin-top: 5px;
  border-top-left-radius: 10px;
  border-top-right-radius:10px;
  box-shadow: 5px 5px 0px 0px rgba(227,74,141, 0.90);
}

.sidelink:hover{
    background-color: #FFA4D7;
    box-shadow: 5px 5px 0px 0px rgba(255,127,189    , 1);
}
.sidelink{
  text-align: center;
  background-color: #FF69B4;
  color: white;
  display: inline-block;
  text-align: center;
  text-decoration: none;
  font-size: 14 px;

  border-style: none;
  padding:10px;
  border-radius: 10px;
  box-shadow: 5px 5px 0px 0px rgba(227,74,141, 1);
  font-family: Cut It Out;
  text-transform: uppercase;
  letter-spacing: 2px;

}
.ltwo{

  margin-bottom: 10px;
}
.sidelinkbox{
    text-align: center;
}
.sidelink:last-child{
    margin-bottom: 0px;
}

.bloglink:hover{
    color: #FF69B4;
}
.bloglink{
  color:black;
  text-decoration: none; 
}
.blob{
  text-align: center;
  background-color: #FF69B4;
  color: white;
  padding:0 5px;
  display: inline-block;
  border-radius: 10px;
  margin-bottom: 2px;
  font-family: strawberry;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 2px;
}
.blobbed{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin:-10px;
}
.blobbed > button,.blobbed > a{
    margin:5px ;
    cursor: pointer;
}

.blob2{
  text-align: center;
  background-color: #FF69B4;
  color: white;
  border: t;
  display: inline-block;
  text-align: center;
  text-decoration: none;
  font-size: 14 px;
  padding:10px;
  border-radius: 10px;
  box-shadow: 5px 5px 0px 0px rgba(227,74,141, 1);
  font-family: strawberry;
  text-transform: uppercase;
  letter-spacing: 2px;margin-bottom: 10px;
}
.blah{
    font-family: monospace;
}
#container{
    margin: 0 auto;
    width: 95%;
    max-width: 1100px;
    justify-content: center;
    align-items: center;
    display: flex;

}
.row:after {
  content: "";
  display: table;
  clear: both;
}
.column{
    float: left;
    display: block;
    
    }


.left{
    float: left;
    width:210px;
}
.mid{
    width: 630px;
    margin-right: 35px;
    margin-left: 10px;
}
.right{
    float: right;
    width:210px;
}
.box{
    background-color: rgba(255, 225, 248, 0.555);
    margin-bottom: 35px;
    border-radius: 15px;
    border-width: 3px;
    border-style: solid;
    border-color: rgba(145, 32, 75, 0.377);
    padding:15px;
}


#clubsbox{
    padding-bottom: 0; 
    justify-content: center;
    align-items: center;
    display: flex;   
    
}

.box2{
    background-color: transparent;
    margin-bottom: 35px;
    margin-top: -5px;
    border-radius: 15px;

}
.centered{
    text-align: center;
}
h1{
    font-size: 2rem;  /* Scalable heading size */

    color: white;
    margin:0;
    margin-top:-2px;
    font-family: Strawberry;
    position: absolute;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    line-height: 15px;
    text-transform: uppercase;

}
h2{
    color: #c91670;
    font-family: Strawberry;
    margin: 0px;
    margin-left: 0.5rem;
    padding-bottom: 5px;
    font-size: 1.5rem;  /* Scalable heading size */

}

h3{ 
margin-bottom: 0;
font-family: TexasRider;
font-size: 1.5rem;
}

h4{
  margin-top: 0;
  margin-bottom: 0;
  font-size: 1rem;


}

.diff2{
    color: white;
    margin:0;
    margin-top:-2px;
    font-family: strawberry;
    position: absolute;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    line-height: 15px;
    font-size: 25px;
}
.imghead{
    width:80%;
    margin:auto;
    position: relative;
    text-align: center;
    color: black;
    margin-top: 5px;
    
    margin-bottom: 10px;
}
.turnright{
    transform: rotate(1deg);
}
.turnrightmore{
    transform: rotate(3deg);
}
.turnleft{
    transform: rotate(-2deg);

}
.imghead2{
   width: 100%;
    margin:auto;
    position: relative;
    text-align: center;
    color: black;
    margin-top: 5px;
    margin-left: 0px;
    margin-bottom: 10px;

}
.imghead3{
    width: 40%;
    margin:auto;
    position: relative;
    text-align: center;
    color: black;
    margin-top: 0px;
    margin-left: 0px;
    margin-bottom: 10px;
}
.imghead4{
    width: 40%;
    margin-left: 30%;
    position: relative;
    text-align: center;
    color: black;
    
}
.imgheadright{
    margin-left:350px;
}
.updates,#status {
  background-color: transparent ;
  overflow: auto;
  max-height: 100px;
  font-family: Kingthings   ;
  font-size: 15px;
  padding:0px;
  text-transform: lowercase;
}
.updates::-webkit-scrollbar{
    display: none;
  }

#updatebold{
    font-weight: bold;
    color:#f899e0;
}
#codebar{
  background-color: #FFE5F5;
  margin-top:5px;
  overflow: auto;
  overflow-wrap: break-word;
  max-height: 50px;
  padding:0px 10px;
  text-transform: lowercase;
}
table{
    margin:auto ;
    text-align: left;
    font-family: Kingthings;
    font-size: 11px;
}
th{
    padding-left: 4px;
}
#showup{
    font-size: 15px;
}
/* Solid border */
hr.solid {
  border-top: 1px solid #bbb;
}
.mp3{
    text-align: center;
 
    padding-top: 15px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 5px;
    line-height: 20px;
    color: black;
    text-decoration: none;
}
a{
    text-decoration: none;
}
.mp3:hover{
    color: gray;
}

.tooltip2 .tooltiptext2 {
  visibility: hidden;
  width: 120px;
  background-color: #FFA4D7;
  color: black;
  font-size: 15px;
  font-family: Kingthings;
  text-align: center;
  padding: 8px;
  /* Position the tooltip */
  position: absolute;
  margin-left: 110px;
  margin-top:-210px;
  z-index: 1;
}

.tooltip2:hover .tooltiptext2 {
  visibility: visible;
}

.tooltip {
  position: relative;
  display: inline-block;
  margin-left: 100px;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: #FFA4D7;
  color: black;
  font-size: 15px;
  font-family: Kingthings;
  text-align: center;
  padding: 5px 0;

  /* Position the tooltip */
  position: absolute;
  margin-left: 10px;
  z-index: 1;
}

.tooltip:hover .tooltiptext {
  visibility: visible;

}


#stamp{

    width:85px;
}
#blinks{
    
    width:180px;
}
ul a{
    color: #FF69B4;
    text-decoration: underline;
}
.sidetwo{
  text-align: center;
  background-color: #FF69B4;
  color: white;
  display: block;
  text-decoration: none;
  font-size: 14 px;
  border-style: none;
  padding:10px;
  width: 60%;
  margin:auto;

  
  border-radius: 10px;
  box-shadow: 5px 5px 0px 0px rgba(227,74,141, 1);
  font-family: Cut It Out;
  text-transform: uppercase;
  letter-spacing: 2px;

}
 .active{
    background-color: #FF93CF
}
.redacted{
    background-color:#FF69B4;
    color:#FF69B4;
  }
  /*SCROLLBAR*/

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background-color: #FFC7E9;
    outline-color: white;
  outline-style: solid;
  outline-width: 1px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #FF69B4;
  outline-color: white;
  outline-style: solid;
  outline-width: 1px;

}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #FF93CF;
}
.show{
  display:none;
}
.lower{
    z-index: 1;
    position: relative;
    min-height: 350px;
}
.boxbeeg{
    min-height: 250px;
}
.bookmark{
    max-width:100%;
    margin-left: -400px;
    margin-top: 20px;
    z-index: 2;
    height: 42px;
    
    background-position: right;
}
.b1{
    background-image: url('images/bookmark.png');
}
.b2{
    background-image: url('images/bookmark2.png');
}
.b3{
    background-image: url('images/bookmark3.png');
}
.bookmark:hover{
    margin-left: -220px;
}
.bookmarktext{
    text-align: right;
    padding-top: 11px;
    padding-right: 45px;
    color: white;
    text-transform: uppercase;
    font-family: cut it out;
}
.blinkiehouse{
    text-align: center;
}
/* Style the tab */
.tabbed {
  text-align: center;
  margin-top:10px;

}
/* Style the buttons that are used to open the tab content */
.tabbed button,.tabbed a {
    display:inline;
    background-color:   transparent ;
    width:100%;
    text-decoration: none;
    letter-spacing:2px;
    border-style: none;
    text-align: right;
    padding-right: 45px;
    color: white;
    text-transform: uppercase;
    font-family: cut it out;
}


/* Create an active/current tablink class */
.tabbed button.active {
    margin-left: -220px;
}
.higher{
    margin-top:-24px;
}
.sticky{
    background-image: url('images/sticky2.png');
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
    height:227px;
    width:210px;
}

/* Container holding the image and the text */
.container2 {
  position: relative;
  text-align: left;
  font-family: kingthings;
  color: white;
}

/* Top left text */
.top-left {
  position: absolute;
  top: 25px;
  left: 16px;
}
.top-left ul{
    padding-left:10px;
}
.todo2{
    font-family:kingthings;
    color:black;
    
}
.todo2 ul{
    padding-left:30px;
}

.snoopy{
    width:100px;
    float: right;
    position: absolute;
    margin-left: -120px;
    margin-top: 0px;
    z-index: 2;
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}
.left2{
    width: 170px;
    margin-right: 35px;

}
.mid2{
    width: 170px;
    margin-right: 35px;

}

.right2{
    width: 170px;
}

.flex-container {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin-left: -15px;
  margin-right: -15px;

}

.flex-container > div {
  color: white;
  width: 112px;
  margin: 20px;
  margin-top: 0px;

}
.flex-container img{
    max-width: 100%;
    padding:0px;
}
.cdbox{
    position: relative;
    margin-bottom: 128px;
}
.cover{
    z-index: 4;
    position: absolute;
    width: 112px;
    top:0;
    right:0;
}
.flex-container2 {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin-left: -15px;
  margin-right: -15px;

}

.flex-container2 > div {
  color: white;
  width: 183.333px;
  margin: 10px;
  margin-top: 0px;

}
.flex-container2 img{
    max-width: 100%;
    padding:0px;
}
.cropped img{
  object-fit: cover; /* Do not scale the image */
  object-position: center; /* Center the image within the element */
  height: 200px;
  width: 100%;
  cursor: pointer;
}
.cropped img:hover{
    transform: rotate(3deg);
}
.cd{
    position: absolute;
    z-index: 1;
    margin-top:6px;
    width: 100px;
    margin-left: 25px;
}
.cd:hover{
    opacity: 1;
    margin-left: 45px;
    transform: rotate(20deg);
   
}
.left2{
    width:115px;
    margin-right: 40px;
    background-color: red;
}
.right2{
     width:115px;
     background-color: red;
     
}

#inner-img{
    float: right;
    width: 150px;
    margin: 3px;
    margin-bottom: -15px;
}

  #icon-img{    

}  
 
a{
    color: #ee3bee;
    text-decoration:none;
}



@media screen and (max-width: 1170px) {
    .cropped img{
      object-fit: fill; /* Do not scale the image */
      object-position: center; /* Center the image within the element */
      height: auto  ;
      width: 100%;
      cursor: pointer;
    }
    .cdbox{
        position: relative;
        margin-bottom: -5px;
    }
    body{
    }
    p{
        text-align: center;
        text-justify: none;
    }
    .cover{
        position: relative;
        width: 100%;
    }
    .show{
        display:block;
        }
    .hide{
        display: none;
    }
    .centeredmobile p{
        text-align: center;
    }
    #container{
    margin: 0 auto;
    max-width: 80%;
    }
    .higher{
        margin-top:0px;
        max-width: 90%;
        margin-left: 15px;
        margin-bottom: -10px;
    }
    .blobbed a {
        margin-top: 5px;
    }   
    .thisblob a:last-child {
        margin-top: 5px;
    }
    .justify{
        text-align: left;
        text-justify: none;
    }
     .box  {
        max-width: 80%;
        margin:0 auto;
        margin-top  : 30px;
    }  
    .column{
        float:none;
    }
    .left,.right,.mid{
        width: 100%;
    }
    
    h1{
        margin:0px;
        width: 100%;
        line-height: 35px;
    }
    .imghead{
        width:100%;
    }
    
    .turnright{}
    .shinybox{
        text-align: center;
    }
    #header{
        width: 100%;
        font-size: 50px;
    }
    .topnav{
        width: 100%;
        text-align: center;
        overflow: visible;
        height: fit-content;
        margin-bottom: -10px;
    }
    .topnav a{
        max-width: 100%;
        padding: 10px;
        font-size: 16px;
        float: none;
        display: inline-block;
        height: fit-content;
        border-radius:10px;
        margin-bottom: 10px;
    }
    .moon{
        margin-top:30px;
    }
    .littleme{
        max-width: 100%;
        float: none;
        position: relative;
        display: inline;
        margin: 0px ;
    }

    .topnavlighter{
        padding-bottom:20px;
    }
    .fixthis{
        margin-top: 65px;
    }
    .sidelink{
        margin-top:35px;
    }

    .bottom-right{
        position: relative;
        left: 60px;  
        top: 60px;
        margin-bottom: 5px;
        width: 200px;  
        height: auto;  
      }
      .video-container {
        position: relative;
        padding-bottom: 56.25%; /* 16:9 Aspect Ratio */
        height: 0;
        overflow: hidden;
        max-width: 100%; /* Ensure it doesn't exceed the container width */
    }
    
    .video-container iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
    

}

.box ul{
    margin-left: 0;
    padding-left: 10%;
}

.bottom-right{
    position:relative;
    right: 70px;
    top: -40px;
}
  
.image-with-border {
    border: 1em double rgb(221, 127, 171); /* You can adjust the width, style, and color */
    padding: 0em; /* Optional: Adds some space between the border and the image */
    border-radius: 0em; /* Optional: Rounds the corners of the border */
  }
  