/* CSS for flashing underscore */
.flashing-underscore {
    display: inline-block;
    animation: flash 0.4s infinite alternate;
}
@keyframes flash {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


body {
  font-family: 'Arial', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  padding: 0; 
  margin: 0;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

header img {
    width: 100%; /* Set the width to 25% of its container */
    height: auto; /* Let the height adjust automatically to maintain aspect ratio */
    max-width: 350px; /* Optionally, set a maximum width to prevent the image from becoming too large on larger screens */
    border-radius: 50%; /* Set border-radius to 50% to make it a circle */
    overflow: hidden; /* Hide overflow to ensure perfect circle */
}
main {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
article {
    margin-bottom: 40px;
    max-width: 600px; /* Adjust as needed */
    width: 100%;
    padding: 20px;
    border: 1px solid #e73597bd; /* Optional: Add border for better visibility */
    border-radius: 5px; /* Optional: Add border radius for better appearance */
    background-color: #333; /* Optional: Add background color for better contrast */
}
h2 a {
    text-decoration: none;
    color: #fff; /* Set link color to white */
}
h2 a:hover {
    color: #d860ba;
}
.date {
    font-style: italic;
    color: #ccc; /* Set date color to light gray */
}
footer {
    display: none; /* Hide the footer */
}

header h1 {
    font-size: 1.5em; /* Decrease font size further for smaller devices */
}

