body{
    height:100%;
    background-color: whitesmoke;
    color: black;
    letter-spacing:0.5px;
    font-size: 16px;
    background-attachment: fixed;
    font-family: monospace;
    cursor: url('../images/lolipop.png'), auto;

}

@font-face {
    font-family: Strawberry;
    src: url('../fonts/Strawberry\ Muffins\ Demo.woff2');
}

@font-face {
    font-family: Rider;
    src: url('../fonts/Texas\Rider.woff2');
}

@font-face {
    font-family: bubblegum;
    src: url('../fonts/bubblegum.woff2');
}



 .fixedwidth  {
  max-width: 100%;
  height: auto;

}
.justify{
    font-size: 16px;
    text-align: justify;
    text-justify: inter-word;
}
.centerimg {
  display: block;
  margin-left: auto;
  margin-right: auto;
  
}
p{
    line-height: 22px;
    margin-bottom: 0px;
}
#header2{
    text-align: center;
    margin: 0 auto;
    width:600px;
    font-family: bubblegum;
    font-size: 70px;
    margin-bottom: -20px;
    padding:5px;
    letter-spacing: 4px;
    color: rgba(218, 21, 113, 0.658);
}

.htext:hover{
}
.topnav{
    margin:30px auto;
    width:580px;
    margin-bottom: 0px;
    overflow: hidden;
    text-align: center;
    height:35px;
    font-family: Strawberry;
    text-transform: uppercase;
    letter-spacing: 2px;
}
.topnav a:hover{
    margin-top: 0px;
}
.topnav a.active{
    background-color: #FF93CF;
    color:white ;
    margin-top: 0px;
    }
.topnav a{
  text-align: center;
  background-color: #FF69B4;
  float: right;
  color: white;
  max-width: 85px;
  margin-right: 10px;
  text-decoration: none;
  font-size: 14px;
  border-style: none;
  padding-left:10px;
  padding-right:10px;
  padding-top: 8px;
  padding-bottom: 8px;
  height: 50px;
  margin-top: 5px;
  border-top-left-radius: 10px;
  border-top-right-radius:10px;
  box-shadow: 5px 5px 0px 0px rgba(227,74,141, 0.90);
}
.sidelink:hover{
    background-color: #FFA4D7;
    box-shadow: 5px 5px 0px 0px rgba(255,127,189    , 1);
}
.sidelink{
  text-align: center;
  background-color: #FF69B4;
  color: white;
  display: block;
  text-decoration: none;
  font-size: 14 px;
  border-style: none;
  padding:10px;
  width: 60%;
  margin:auto;

  
  border-radius: 10px;
  box-shadow: 5px 5px 0px 0px rgba(227,74,141, 1);
  font-family: Strawberry;
  text-transform: uppercase;
  letter-spacing: 2px;

}
 .active{
    background-color: #FF93CF
}
.bloglink:hover{
    color: #FF69B4;
}
.bloglink{
  color:black;
  text-decoration: none; 
}
.blob{
  text-align: center;
  background-color: #FF69B4;
  color: white;
  padding:0 5px;
  display: inline-block;
  border-radius: 10px;
  margin-bottom: 2px;
  font-family: cut it out;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 2px;
}
.blah{
    font-family: impact label;
}
#container{
    margin: 0 auto;
    width: 1100px;
}
.row:after {
  content: "";
  display: table;
  clear: both;
}
.column{
    float: left;
}
.left{
    width:210px;
    margin-right: 35px;
}
.mid{
    width: 610px;
    margin-right: 35px;
}
.right{
    width:210px;
}
.box{
    background-color: rgba(255, 225, 248, 0.555);
    margin-bottom: 35px;
    border-radius: 15px;
    border-width: 3px;
    border-style: solid;
    border-color: rgba(145, 32, 75, 0.377);
    padding:15px;
}
.box2{
    background-color: transparent;
    margin-bottom: 35px;
    border-radius: 15px;
    padding-bottom: 5px;

}
.centered{
    text-align: center;
}
h1{
    color: white;
    margin:0;
    margin-top:-2px;
    font-family: Strawberry;
    position: absolute;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    line-height: 15px;
    text-transform: uppercase;
    font-size: 30px;

}
h2{
    color: #923e68;
    font-family: Strawberry;
    margin: 0px ;
    padding-bottom: 5px;
}
.diff2{
    color: white;
    margin:0;
    margin-top:-2px;
    font-family: Strawberry;
    position: absolute;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    line-height: 15px;
    font-size: 25px;
}
.imghead{
    width:80%;
    margin:auto;
    z-index: 1;
    position: relative;
    text-align: center;
    color: black;
    position: relative;

}
.turnright{
    transform: rotate(1deg);
}
.turnleft{
    transform: rotate(-2deg);
}
.imghead2{
   width: 100%;
    margin:auto;
    position: relative;
    text-align: center;
    color: black;
    margin-top: -30px;
    margin-left: 0px;
    margin-bottom: 10px;

}

.updates,#status {
  background-color: transparent ;
  overflow: auto;
  max-height: 100px;
  font-family: Kingthings   ;
  font-size: 15px;
  padding:0px;
  text-transform: lowercase;
}
.updates::-webkit-scrollbar{
    display: none;
  }

#updatebold{
    font-weight: bold;
    color:#f899e0;
}
#codebar{
  background-color: #FFE5F5;
  margin-top:5px;
  overflow: auto;
  overflow-wrap: break-word;
  max-height: 50px;
  padding:0px 10px;
  text-transform: lowercase;
}
table{
    margin:auto ;
    text-align: left;
    font-family: Strawberry;
    font-size: 11px;
}
th{
    padding-left: 4px;
}
#showup{
    font-size: 15px;
}
/* Solid border */
hr.solid {
  border-top: 1px solid #bbb;
}
.mp3{
    text-align: center;
 
    padding-top: 15px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 5px;
    line-height: 20px;
    color: black;
    text-decoration: none;
}
a{
    text-decoration: none;
}
.mp3:hover{
    color: gray;
}

.tooltip2 .tooltiptext2 {
  visibility: hidden;
  width: 120px;
  background-color: #FFA4D7;
  color: black;
  font-size: 15px;
  font-family: Strawberry;
  text-align: center;
  padding: 8px;
  /* Position the tooltip */
  position: absolute;
  margin-left: -50px;
  margin-top:0px;
  z-index: 1;
}

.tooltip2:hover .tooltiptext2 {
  visibility: visible;
}

.tooltip {
  position: relative;
  display: inline-block;
  margin-left: 100px;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: #FFA4D7;
  color: black;
  font-size: 15px;
  font-family: Strawberry;
  text-align: center;
  padding: 5px 0;

  /* Position the tooltip */
  position: absolute;
  margin-left: 10px;
  z-index: 1;
}

.tooltip:hover .tooltiptext {
  visibility: visible;

}

.littleme:hover {
   content: url("images/placeholder2.html");
} 
#stamp{

    width:85px;
}
#blinks{
    
    width:180px;
}
ul a{
    color: #FF69B4;
    text-decoration: underline;
}
.redacted{
    background-color: #FF69B4;
    color: #FF69B4;
}
ul{
    list-style-type: none; /* Remove bullets */
  padding: 0; /* Remove padding */
  margin: 0; /* Remove margins */
}
h4{
    margin: 0;
    color: rgb(112, 71, 109);
}
  /*SCROLLBAR*/

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background-color: #FFC7E9;
    outline-color: white;
  outline-style: solid;
  outline-width: 1px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #FF69B4;
  outline-color: white;
  outline-style: solid;
  outline-width: 1px;

}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #FF93CF;
}

.blogimage{
    width:250px;float:left;padding-right:26px;
}
.bigblogimage{
    width: 100%;
}
@media screen and (max-width: 860px) {
    body{
    }
    p{
        text-align: left;
        text-justify: none;
    }
    #container{
    margin: 0 auto;
    max-width: 80%;
}
    .justify{
        text-align: left;
        text-justify: none;
    }
     .box  {
        max-width: 80%;
        margin:0 auto;
        margin-top  : 30px;
    }  
    .column{
        float:none;
    }
    .left,.right,.mid{
        width: 100%;
    }
    .imghead img{
    }
    h1{
        color: rgb(255, 255, 255);
        margin:0px;
        margin-bottom: -30px;
        width: 100%;
        line-height: 35px;
    }
    .imghead{
        width:100%;
    }
    .hide{
        display: none;
    }
    .turnright{}
    .shinybox{
        text-align: center;
    }
    #header2{
        width: 100%;
    }
    .topnav{
        width: 90%;
        overflow: visible;
        height: fit-content;
        margin-bottom: -10px;
    }
    .topnav a{
        float: none;
        display: inline-block;
        height: fit-content;
        border-radius:10px;
        margin-bottom: 10px;
    }
    .moon{
        margin-top:30px;
    }
    .sidetwo{
        margin-top: 30px;
    }
    .blogimage{
        width:100%;
        float:none;
        padding-right:-26px;
}

}

.image-with-border {
    border: 1em ridge rgb(221, 127, 171); /* You can adjust the width, style, and color */
    padding: 0em; /* Optional: Adds some space between the border and the image */
    border-radius: 0em; /* Optional: Rounds the corners of the border */
  }